<section class="mdc-card__primary">
  <!--<section class="mdc-card__title">Spanish Vocab</section>-->
  <section class="mdc-card__title mdc-card__title--large">Spanish Vocab</section>
  <section class="mdc-card__subtitle">0 cards</section>
</section>
<section class="mdc-card__supporting-text">Vocabulary for Spanish 101</section>
<!--<section class="mdc-card__media">media</section>-->
<section class="mdc-card__actions">
  <button mdc-ripple mdc-button [compact]="true" class="mdc-card__action">Review</button>
  <button mdc-ripple mdc-button [compact]="true" class="mdc-card__action">View</button>
  <button mdc-ripple mdc-button [compact]="true" class="mdc-card__action">Edit</button>
  <button mdc-ripple mdc-button [compact]="true" class="mdc-card__action">Delete</button>
</section>
