<div class='mdc-layout-grid'>
  <div class='mdc-layout-grid__inner'>
    <div class='mdc-layout-grid__cell'>
      <button mdc-button mdc-ripple dense>Dense</button>
    </div>
    <div class='mdc-layout-grid__cell'>
      <button mdc-button mdc-ripple raised>Raised</button>
    </div>
    <div class='mdc-layout-grid__cell'>
      <button mdc-button mdc-ripple unelevated>Unelevated</button>
    </div>
    <div class='mdc-layout-grid__cell'>
      <button mdc-button mdc-ripple mdc-button-compact>Compact</button>
    </div>
    <div class='mdc-layout-grid__cell'>
      <button mdc-button mdc-ripple primary>Primary</button>
    </div>
    <div class='mdc-layout-grid__cell'>
      <button mdc-button mdc-ripple accent>Accent</button>
    </div>
  </div>
</div>
