<div class='mdc-layout-grid'>
  <div class='mdc-layout-grid__inner'>
    <div class='mdc-layout-grid__cell mdc-layout-grid__cell--span-3'></div>
    <div class='mdc-layout-grid__cell mdc-layout-grid__cell--span-6'>
      <div mdc-card>
        <section mdc-card-primary>
          <section mdc-card-title large>
            Large Title
          </section>
        </section>
        <section mdc-card-supporting-text>
          Supporting text
        </section>
        <section mdc-card-actions>
          <button mdc-ripple mdc-button compact dense mdc-card-action>Action 0</button>
          <button mdc-ripple mdc-button compact dense mdc-card-action>Action 1</button>
          <button mdc-ripple mdc-button compact dense mdc-card-action>Action 2</button>
          <button mdc-ripple mdc-button compact dense mdc-card-action>Action 3</button>
        </section>
      </div>
    </div>
    <div class='mdc-layout-grid__cell mdc-layout-grid__cell--span-3'></div>
  </div>
</div>
