<div class='mdc-layout-grid'>
  <div class='mdc-layout-grid__inner'>
    <div class='mdc-layout-grid__cell mdc-layout-grid__cell--span-3'></div>
    <div class='mdc-layout-grid__cell mdc-layout-grid__cell--span-6'>
      <div mdc-card>
        <section mdc-card-primary>
          <section mdc-card-title large>
            Greek 101
          </section>
          <section mdc-card-subtitle>
            0 Cards
          </section>
        </section>
        <section mdc-card-supporting-text>
          Donec rhoncus ullamcorper egestas. Vivamus vel ultrices nisl. Etiam bibendum nisl est, in posuere urna auctor ut. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam interdum odio in porta convallis. Vestibulum sed sem commodo, scelerisque ante quis, convallis est. Vestibulum sed commodo ex. Integer sed tempus augue. Proin blandit id mi in finibus. 
        </section>
        <section mdc-card-actions>
          <button mdc-ripple mdc-button compact dense mdc-card-action>Review</button>
          <button mdc-ripple mdc-button compact dense mdc-card-action>View Cards</button>
          <!-- TODO: Move to overflow menu -->
          <button mdc-ripple mdc-button compact dense mdc-card-action>Edit</button>
          <!-- TODO: Move to overflow menu -->
          <button mdc-ripple mdc-button compact dense mdc-card-action>Delete</button>
        </section>
      </div>
    </div>
    <div class='mdc-layout-grid__cell mdc-layout-grid__cell--span-3'></div>
  </div>
</div>
