<header mdc-toolbar title="Cardinal" [fixed]="true">
  <mdc-toolbar-row>
    <section mdc-toolbar-section [alignStart]="true">
      <span mdc-toolbar-title>{{title}}</span>
    </section>
    <section mdc-toolbar-section [alignEnd]="true">
      <button mdc-button mdc-ripple unelevated>Home</button>
      <button mdc-button mdc-ripple unelevated>Sign In</button>
    </section>
  </mdc-toolbar-row>
</header>
<div class="content">
  <nav mdc-drawer mdc-list>
    <a routerLink="/home" mdc-list-item mdc-drawer-selected>
      <i class="material-icons" mdc-list-item-start-detail aria-hidden="true">home</i>Home
    </a>
    <a routerLink="/decks" mdc-list-item>
      <i class="material-icons" mdc-list-item-start-detail aria-hidden="true">view_module</i>Decks
    </a>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>